<div class="container-md">
    <app-header></app-header>
</div>
<div class="container-md p-md-5 bg-dark mt-5 rounded-3" *ngIf="movie">
    <h3 class="text-secondary">{{movie.title}}</h3>
    <div class="lead">
        <p>{{movie.title}}. This is a {{movie.type}} {{movie.genre}} based movie. This movie is released in {{year}}
            in
            the Hindi language. Click on the Download button
            below
            to download this movie. This is the Latest {{movie.quality}} with Hindi audio.</p>
        <p>MoviesKing is a great place to find Bollywood,Hollywood and Indian movies and TV shows. We also have
            movies
            from South
            India like Tamil, Telugu, and Malayalam, as well as movies from other regions like Bengali and Punjabi.
            You
            can download movies quickly and safely using Google Drive links. Just click on the download button and
            follow the instructions to watch movies online for free.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <img src={{movie.imgUrl2}} class="img-fluid">
        </div>
    </div>
    <h3 class="text-secondary">{{movie.title}}</h3>

    <div class="row justify-content-center">
        <div class="col-md-7 border border-2 border-black rounded-3">
            <div class="crd">
                <div class="row">
                    <div class="col-md bg-dark p-3">
                        <img src={{movie.imgUrl}} class="img-fluid" />
                    </div>
                    <div class="col-md-8 bg-dark text-light p-3">
                        <h5 class="text-warning">{{movie.name}}</h5>
                        <p><small>| {{movie.date}} (India)</small></p>
                        <p>Director: <small class="text-warning">{{movie.director}}</small></p>
                        <p>Writer: <small class="text-warning">{{movie.writer}}</small>
                        </p>
                        <p>Stars: <small class="text-warning">{{movie.stars}}</small></p>
                        <p>Summary: <small>{{movie.summary}}</small></p>
                        <p>Countries: <small>{{movie.country}}</small></p>
                        <p>Languages: <small>{{movie.language}}</small></p>
                        <p>Source: <small class="text-warning">imdb.com</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lead text-center text-secondary"><b>{{movie.title}}
                MoviesKing.one</b>
        </div>
    </div>
    <h2 class="display-6 text-success"> Movie Info:</h2>
    <ul class="text-secondary">
        <li> Full Name: {{movie.name}} ({{year}})</li>
        <li>Language: {{movie.language}} ORG</li>
        <li> Release Year: {{year}}</li>
        <li>Quality: {{movie.quality}}</li>
        <li>Pixel: {{movie.link1.pixel}} {{movie.link2.pixel}} {{movie.link3.pixel}}</li>
        <li> Size: {{movie.link1.size}} {{movie.link2.size}} {{movie.link3.size}}</li>
        <li>Format: Mkv</li>
        <li>Stars: {{movie.stars}}</li>
        <li>Director: {{movie.director}}</li>
    </ul>
    <h2 class="display-6 text-success"> Storyline:</h2>

    <div class="lead text-secondary">
        {{movie.storyline}}
    </div>
    <h2 class="display-6 text-success"> ScreenShots:</h2>
    <img src={{movie.screenshort}} alt=" " class="img-fluid">
    <div class="row justify-content-center p-5">
        <div class="col-md-10">
            <div class="h5 text-info m-3 text-center" *ngIf="movie.link1.pixel">Download {{movie.name}} ({{year}})
                Hindi
                ORG Full Movie {{movie.quality}} ~ {{movie.link1.pixel}} [{{movie.link1.size}}]</div>
            <div class="row justify-content-center" *ngIf="movie.link1.pixel">
                <div class="col-md-4 text-center">
                    <a routerLink="getlink"><button
                            class="btn btn-success m-3" (click)="getMovie('link1')" *ngIf="movie.link2.address.gdrive.length">G-Drive Links</button></a>

                    <a routerLink="getlink"><button class="btn btn-success m-3" (click)="getMovie('link1')" *ngIf="movie.link1.address.dlinks.length">Download Links</button></a>
                </div>
            </div>
            <div class="h5 text-info m-3 text-center" *ngIf="movie.link2.pixel">Download {{movie.name}} ({{year}})
                Hindi
                ORG Full Movie {{movie.quality}} ~ {{movie.link2.pixel}} [{{movie.link2.size}}]</div>
            <div class="row justify-content-center" *ngIf="movie.link2.pixel">
                <div class="col-md-4 text-center">
                   <a routerLink="getlink"> <button class="btn btn-success m-3" (click)="getMovie('link2'); getAddress('gdrive')" *ngIf="movie.link2.address.gdrive.length">G-Drive Links</button></a>
                    <a routerLink="getlink"><button class="btn btn-success m-3" (click)="getMovie('link2'); getAddress('dlinks')" *ngIf="movie.link2.address.dlinks.length">Download Links</button></a>
                </div>
            </div>
            <div class="h5 text-info text-center" *ngIf="movie.link3.pixel">Download {{movie.name}} ({{year}}) Hindi
                ORG
                Full Movie {{movie.quality}} ~ {{movie.link3.pixel}} [{{movie.link3.size}}]</div>
            <div class="row justify-content-center" *ngIf="movie.link3.pixel">
                <div class="col-md-4 text-center">
                    <a routerLink="getlink"> <button class="btn btn-success m-3"(click)="getMovie('link3')" *ngIf="movie.link3.address.gdrive.length">G-Drive Links</button></a>
                    <a routerLink="getlink"><button class="btn btn-success m-3"(click)="getMovie('link3')" *ngIf="movie.link3.address.dlinks.length">Download Links</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-md bg-dark rounded">
    <app-footer></app-footer>
</div>
<router-outlet></router-outlet> 