<div class="container-md">
    <app-header></app-header>
    <div class="container-fluid bg-dark rounded mt-4 p-5 text-secondary">
        <h2> Digital Millennium Copyright Act (DMCA):</h2>

        <p>The Digital Millennium Copyright Act (DMCA) is a United States copyright law enacted in 1998. It addresses
            the rights and responsibilities of online service providers (OSPs) and copyright owners regarding
            copyrighted material posted on the internet.
            The DMCA provides a framework for copyright owners to request the removal of infringing content from
            websites or online platforms.</p>
        <p>Website owners and online service providers can benefit from certain safe harbor provisions under the DMCA if
            they promptly remove infringing content upon receiving a valid DMCA takedown notice.
            The DMCA also includes provisions for counter-notices, allowing users who believe their content was wrongly
            removed to contest the takedown.</p>
        <h2>General Data Protection Regulation (GDPR):</h2>

        <p>The General Data Protection Regulation (GDPR) is a European Union regulation implemented in 2018. It aims to
            protect the privacy and personal data of EU citizens.
            The GDPR applies to organizations that collect, process, or store personal data of EU residents, regardless
            of the organization's location.</p>
        <p>Key principles of the GDPR include transparency, consent, data minimization, and the rights of individuals to
            access, rectify, and erase their personal data.
            Organizations must implement measures to ensure the security and lawful processing of personal data, and
            they may face significant fines for non-compliance with the GDPR.</p>
        <h2>California Privacy Rights Act (CPRA):</h2>

        <p>The California Privacy Rights Act (CPRA) is a privacy law passed in November 2020, amending and expanding
            upon
            the California Consumer Privacy Act (CCPA).</p>
        <p> The CPRA enhances privacy protections for California residents by introducing new requirements for
            businesses
            handling personal information.</p>
        <p> Key provisions of the CPRA include the establishment of a new enforcement agency (California Privacy
            Protection
            Agency), expanded rights for consumers, such as the right to limit the use of sensitive personal
            information,
            and increased obligations for businesses regarding data protection measures and transparency.</p>
        <p>The CPRA imposes additional requirements on businesses that process large volumes of data, engage in
            profiling
            or automated decision-making, or handle sensitive personal information.</p>

    </div>
</div>
<div class="container-md bg-dark rounded">
    <app-footer></app-footer>
</div>