<div class="container-md">
    <app-header></app-header>
<div class="container-fluid bg-dark rounded mt-4 p-5 text-secondary">
    <h3 class="mb-2">About Us</h3>
   <p> MoviesKing.store, MoviesKing.pro, MoviesKing Is Best Website/Platform For Bollywood And Hollywood HD Movies.</p>
    
   <p> We Sharing Here Direct Download Links Without Any Irritating Ads Or Pop-Ups.</p>
    
    <p>Here We Share Various Filesharing Sites Links For One Movie In Many Quality Like Bluray, HDRip, BRRip, WeB-DL, etc.</p>
    
    <h2 class="text-center my-4">Moviesverse.pro– Download And Watch Movies Online For Free</h2>
    <p>Download Dual/Multi Audio High-Quality Movies And Tv/Web Series Directly Without Any Popup Ads. We Are Providing English Movies, Hollywood Dual Audio Movies, Bollywood Movies, Tv/Web Series, Tv-Shows, Anime, And Many More.</p>
    
    <p><b>Our Official Domains Are</b>- MoviesVerse.pro, MoviesVerse.io</p>
    
    <b>Disclaimer:</b> All My Post Are Free Available On Internet Posted By Somebody Else
    <p>I’m Not VIOLATING Any COPYRIGHTED LAW. If Anything Is Against LAW, Please Notify Me.</p>
    
    <p>If You think We Shared Your Content Or Product Without Your Permission, Then You Can Claim Using Our DMCA Contact Form Page. We Never Host Any File On Our Server All Point To Content Hosted On Third-Party Websites.</p>
    
    <p><b>Note:</b> MoviesVerse.pro Is a Complete Independent Entity</p>
</div>
</div>
<div class="container-md bg-dark rounded">
    <app-footer></app-footer>
</div>