<footer class="p-3 my-4 bg-dark ">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a routerLink="/aboutus" class="nav-link px-2 text-secondary">About US</a></li>
      <li class="nav-item"><a routerLink="/disclaimer" class="nav-link px-2 text-secondary">Disclaimer</a></li>
      <li class="nav-item"><a routerLink="/dmca" class="nav-link px-2 text-secondary">Copyright Act</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-secondary">Contact US</a></li>
    </ul>
    <p class="text-center text-secondary">© 2024 Moviesking</p>
</footer>
<router-outlet></router-outlet>