<div class="container mt-4" >
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-lg-10">
            <h3>consequatur fugiat vel culpa delectus! Natus quae provident</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                ab maxime quos similique incidunt! Quia?</p>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                    ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                    ab maxime quos similique incidunt! Quia?</p>
            <div class="row justify-content-center">
                <div class="col-lg-3 p-5">
                    <div class="text-center">
                        Click here to download
                    </div>
                    <div class="d-flex flex-column">
                        <button class="btn btn-primary m-2 px-5" (click)="getScroll('link')">Download</button>
                    </div>
                </div>
            </div>
            <div class="para">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                    ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                    ab maxime quos similique incidunt! Quia?</p>
    
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                        consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                        perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                        ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                        consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                        perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                        ab maxime quos similique incidunt! Quia?</p>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                            consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                            perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                            ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                            consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                            perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                            ab maxime quos similique incidunt! Quia?</p>
            
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                ab maxime quos similique incidunt! Quia?</p>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                    ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                    consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                    perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                    ab maxime quos similique incidunt! Quia?</p>
                    
                                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                        consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                        perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                        ab maxime quos similique incidunt! Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo animi, ea quia, recusandae, facere odio eaque
                                        consequatur fugiat vel culpa delectus! Natus quae provident sapiente reprehenderit illo, doloribus alias nam
                                        perferendis, nostrum, error laudantium. Autem laudantium hic facere eum, similique ratione? Aliquid omnis aspernatur
                                        ab maxime quos similique incidunt! Quia?</p>
            </div>

            <div class="row justify-content-center" id="link">
                <div class="col-lg-4 p-5">
                    <div class="d-flex flex-column">
                        <button class="btn btn-primary m-2 px-5" *ngIf="click">please wait ...  {{count}} Sec</button>
                        <div class="text-center">
                            <a routerLink="download-file"><button class="btn btn-primary m-2 px-5" *ngIf="active">Generate Link</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>