    <div class="row justify-content-center px-5">
        <div class="col-lg-9 m-2">
            <div class="d-flex flex-wrap justify-content-center">
                <button class="btn btn-dark m-1">Hindi Movies</button>
                <button class="btn btn-dark m-1">Punjabi Movies</button>
                <button class="btn btn-dark m-1">420p Movies</button>
                <button class="btn btn-dark m-1">720p Movies</button>
                <button class="btn btn-dark m-1">1080p Movies</button>
                <button class="btn btn-dark m-1">NetFlix</button>
                <button class="btn btn-dark m-1">Hindi Series</button>
                <button class="btn btn-dark m-1">WebSeries</button>
                <button class="btn btn-dark m-1">Amazon Prime</button>
            </div>
        </div>
    </div>