<div class="container-md">
    <app-header></app-header>
    <div class="container-fluid bg-dark rounded mt-4 p-5 text-secondary">
        <h2>Disclaimer:</h2>
        <p>This website does not host any copyrighted content on its servers. All posts are provided solely for
            educational purposes, and any linked content is stored exclusively on third-party websites. As we advocate
            for freedom of speech, we do not engage in any form of copyright infringement.</p>
            <p> This website serves as a promotional platform only. All downloadable content available on this site, including
                all materials, is intended for testing and promotional purposes exclusively. All files provided here are for
                introduction purposes only.</p>

        <p>We strongly urge users to support the creators and artists by purchasing the original CDs or DVDs of the movies
            or music they enjoy. We encourage you to buy original content directly from the author or developer's site.</p>

       <p> If you do not agree to all the terms outlined in this disclaimer, please disconnect from this site immediately.</p>

       <p> By continuing to access this site, you acknowledge your understanding of and compliance with the aforementioned
        disclaimer. Furthermore, you absolve this site of any responsibility henceforth.</p>

        <p>All files discovered on this site have been gathered from various sources across the web and are believed to be
            in the public domain. All logos and related content are the property of their respective owners.</p>

        <p>It is advised to delete any downloaded data within 24-72 hours and to ensure the purchase of the original CD or
            DVD from a local or online store.</p>

        <p>If you are the rightful owner of any content posted here and object to its display, or if you represent the
            copyright department and disagree with our storage conditions, please promptly contact us via email or our
            contact form, and we will promptly remove the content in question.</p>

    </div>
</div>
<div class="container-md bg-dark rounded">
    <app-footer></app-footer>
</div>